### week 2 - Wed

In [1]:
3>5

False

### The `if` statement

In [2]:
x=6

if x>4:
    print('Yay!')

Yay!

In [5]:
x=3

if x>4:
    print('Yay!')

In [7]:
if x>4:
    print('big number')
else:
    print("small number")

small number

In [8]:
x=4

if x>4:
    print('big number')
elif x==4:
    print('the number is 4')
else:
    print("small number")

the number is 4

In [9]:
x=6

if x>4:
    print('big number')
elif x>5:
    print('the number is bigger than 5')
else:
    print("small number")

big number

In [11]:
x=3
if x>4:
    print('big number')
elif x<2:
    print('small number')
else:
    print("the number is in between 2 and 4")

the number is in between 2 and 4

**Ex.**: write the code that given a string `mystr` prints the number of characters in the string if the string has more than 3 characters, or just 'this is a short string' otherwise

In [12]:
mystr='Rick and Morty'
len(mystr)

14

In [13]:
if len(mystr)<3:
    print("short string")
else:
    l=len(mystr)
    print(f"the string has {l} characters")

the string has 14 characters

Write code to check if `d` divides `n`

In [14]:
n=271
d=7

if n%d==0:
    print('the number is not prime')
else:
    print('the number might be prime')

the number might be prime

In [15]:
n=27
d=9

if n%d==0:
    print('the number is not prime')
else:
    print('the number might be prime')

the number is not prime

### lists and loops

lists are created with `[]`

In [16]:
mylist=['a',33,'hello']

In [17]:
mylist

['a', 33, 'hello']

In [18]:
print(mylist)

['a', 33, 'hello']

In [19]:
myl1=[1,2,3,4]
myl2=['milan','rome','tuscany']

In [20]:
myl1+myl2

[1, 2, 3, 4, 'milan', 'rome', 'tuscany']

In [21]:
3*myl1

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

In [24]:
myl2.append('venice') # to add elements to a list

In [25]:
myl2

['milan', 'rome', 'tuscany', 'venice', 'venice']

In [26]:
myl3=myl2.append('naples')

In [27]:
myl2

['milan', 'rome', 'tuscany', 'venice', 'venice', 'naples']

In [29]:
print(myl3)

None

Note: append does not create a new list

In [30]:
myl3=myl2.copy()
myl3

['milan', 'rome', 'tuscany', 'venice', 'venice', 'naples']

In [31]:
myl3.append('lecce')
myl3

['milan', 'rome', 'tuscany', 'venice', 'venice', 'naples', 'lecce']

In [32]:
myl2

['milan', 'rome', 'tuscany', 'venice', 'venice', 'naples']

use `in` to check if something is in a list

In [33]:
'milan' in myl2

True

In [34]:
'florence' in myl2

False

In [35]:
len(myl2)

6

`for` loops

In [36]:
for k in myl2:
    print(f"{k} is in Italy")

milan is in Italy
rome is in Italy
tuscany is in Italy
venice is in Italy
venice is in Italy
naples is in Italy

In [37]:
n=10
for d in [2,3,4,5,6,7,8,9]:
    if (n%d==0):
        print(f"{n} is not prime")

10 is not prime
10 is not prime

`range(a,b)` gives you all of the numbers between `a` and `b` (`b` not included)

In [38]:
range(2,7)

range(2, 7)

In [39]:
list(range(2,7))

[2, 3, 4, 5, 6]

In [40]:
for w in range(2,7):
    print(w)

2
3
4
5
6

In [41]:
for w in range(7):
    print(w)

0
1
2
3
4
5
6

In [44]:
for w in range(1,7,2):
    print(w)

1
3
5

In [47]:
n=133
for d in range(2,n):
    if (n%d==0):
        print(f"{n} is not prime")

133 is not prime
133 is not prime

In [48]:
n=1024
for d in range(2,n):
    if (n%d==0):
        print(f"{n} is not prime")

1024 is not prime
1024 is not prime
1024 is not prime
1024 is not prime
1024 is not prime
1024 is not prime
1024 is not prime
1024 is not prime
1024 is not prime

In [51]:
n=1024
isprime=True
for d in range(2,n):
    if (n%d==0):
        isprime=False

In [52]:
print(isprime)

False

In [53]:
n=17
isprime=True
for d in range(2,n):
    if (n%d==0):
        isprime=False
print(isprime)

True

### `break` and `continue`

`break` stops the inner-most loop

`continue` skips one instance of the loop

In [56]:
for k in 'suny buffalo':
    if k=='f':
        print('found the f')
        break
    print(k)

s
u
n
y

b
u
found the f

In [57]:
for k in 'suny buffalo':
    if k=='f':
        #print('found the f')
        continue
    print(k)

s
u
n
y

b
u
a
l
o

In [59]:
n=1024
isprime=True
for d in range(2,n):
    if (n%d==0):
        print('jello')
        isprime=False
        break
print(isprime)

jello
False

### function

In [64]:
def f(a,b):
    c=a+b
    print(f"{a} + {b} is {c}")
    return a-b,c #output

In [65]:
a=3
b=17
f(a,b)

3 + 17 is 20

(-14, 20)

In [66]:
c

NameError: name 'c' is not defined

In [67]:
d,s=f(a,b)

3 + 17 is 20

In [68]:
d

-14

In [69]:
s

20

In [70]:
f(12,d)

12 + -14 is -2

(26, -2)

In [77]:
def f(a,b=2): # b is 2 by default unless said otherwise
    # a is the first number
    # b is the second number
    return a+b

In [74]:
f(9)

11

In [75]:
f(9,3)

12

In [76]:
f(b=4,a=5)

9

1. Define a function called `isprime(n)` that returns `True` if `n` is prime, `False` otherwise
2. Look at the project description on the class website
3. Do the weekly summary